@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-primary: #5F6FFF;
  --color-brand-dark: #1A1F5E;
  --color-brand-pink: #FF6B8A;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #083ef0;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(229, 100%, 69%);
}


body {
  font-family: 'Outfit', sans-serif;
}
