# Dependencies
node_modules/
**/node_modules/

.env
**/.env
*.env
**/*.env
.env.*
**/.env.*

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Uploaded files 
uploads/

k8s/secret.yaml
